{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "src/output.css" %}">
</head>
<body>
    <div class="max-w-2xl mx-auto mt-10">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-bold">Mes taches</h1>
            <a href="{% url 'ajouter_tache' %} " class="bg-green-500 text-white px-4 py-2 rounded">Ajouter</a>
        </div>
        <ul class="space-y-3">
            {% for tache in taches %}
                <li class="p-4 border rounded flex justify-between items-center {% if tache.est_en_retard %}bg-red-50{% endif %}">
                    <div>
                        <h3 class="font-bold">{{ tache.titre }}</h3>
                        <p class="text-sm text-gray-600">{{ tache.description }}</p>
                    </div>
                    <a href="{% url 'basculer_tache' tache.id %}" class="text-blue-600">
                        {% if tache.est_terminee %}ok{% else %}Marquer fini{% endif %}
                    </a>
                </li>
            {% endfor %}    
        </ul>
    </div>
    
</body>
</html>